.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.modal__container {
    background-color: white;
    height: 32rem;
    width: 34rem;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal__container_cancel {
    background-color: white;
    border: 1px solid #02A5E2;
    color: #02A5E2;
    padding: 1rem;
    text-align: center;
    width: 10rem;
    height: 3.4rem;
    cursor: pointer;
}

.modal__container_cancel:hover {
    color: white;
    background-color: red;
}

.modal__container_save {
    background-color: #02A5E2;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 10rem;
    height: 3.4rem;
    cursor: pointer;
}

.modal__container_save:hover {
    color: white;
    background-color: #32c5fa;
    border: 1px solid #02A5E2;
}

.modal__container_close {
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.section__submit_btn {
    background-color: #A1BBCF;
    color: white;
    padding: 1rem 3rem;
}

.section__submit_btn:hover {
    background-color: #2398f1;
}

/* Laptop View */
@media screen and (min-width:1180px) {}

/* Tablet View */
@media screen and (min-width:481px) and (max-width:1180px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Mobile View */
@media screen and (min-width:250px) and (max-width:480px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1;
    }

    .modal__container {
        height: 24rem;
        width: 22rem;
    }

    .modal__container_cancel,
    .modal__container_save {
        width: 6rem;
        height: 2rem;
        font-size: 0.6rem;
    }
}